@model  IList<CamsDVDRentals.Models.Rental>

@{
    ViewBag.Title = "AllRentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Rentals</h2>
<div class="container">
<table>
    <tr>
        <td>Title</td>
        <td>Release Date</td>
        <td>Copies Remaining</td>
    </tr>

    @foreach (var rental in Model)
    {
        <tr>
            <td>@rental.Title</td>
            <td>@rental.ReleaseDate.ToShortDateString()</td>
            <td>@rental.AvailableCopies</td>
        </tr>
    }
</table>
</div>