@model CamsDVDRentals.Models.RegistrationModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<form method="post" action="@Url.Action("Registration","User")">
    Email: @Html.TextBoxFor(m => m.Email)
    Password: @Html.PasswordFor(m => m.Password)

    Are you an employee? @Html.CheckBoxFor(m => m.IsEmployee)
    Are you lying? <input type="checkbox" />

    <button>Submit</button>

</form>