
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, valued employee. Please do proceed to doing your job.</h2>

<h3>Add a movie to the store.</h3>
<h3>Remove a movie from the store.</h3>
<h3>Deactivate a costumer.</h3>